.search-wrapper.active
  .input-holder
    input#author-name.search-input(type='text' placeholder='Type an author name')
    button#author-name-icon.search-icon
      span

.row.mt-4
  .col-md-12
    #author-analytics-results.accordion-wrapper.mb-3
     